.nav {
    display: flex;
}

.nav__logo {
    width: 105px;
    height: 39px;
    position: relative;
    top: 30px;
    left: 30px;
}
.nav__links {
    list-style-type: none;
    column-gap: 20px;
    padding-left: 0;
    display: flex;
    position: absolute;
    top: 30px;
    right: 80px;
}

.nav__link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
